 @import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    font-family: 'Roboto', sans-serif;
 }
            /***   HEADER    ***/
 header.myHeader{
     background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("../images/web\ background\ 3.jpg");
     background-size: cover;
     height: 600px;
 }

 header.myHeader nav.myNav ul.navbar{
     padding: 15px;
 }

 header.myHeader nav.myNav ul.navbar li{
     display: inline-block;
     color: white;
     font-size: 22px;
 }

 header.myHeader nav.myNav ul.navbar li a{
     text-decoration: none;
     color: white;
     display: inline-block;
     margin: 5px 15px;
     padding: 10px;
 }

 header.myHeader nav.myNav ul.navbar  li.left{
     float:left;
 }

 header.myHeader nav.myNav ul.navbar  li.right{
     float: right;
 }

 header.myHeader nav.myNav ul.navbar::after{
     display: block; 
     clear: both;
     content: '';
 }
  
 header.myHeader nav.myNav ul.navbar li.right a{
 color: black;
 background-color: white;
 border-radius: 20px;
 }
 header.myHeader div.myIntro {text-align:center;margin-top: 130px;}
 header.myHeader div.myIntro h2{
    text-align: center;
    color: white;
    font-size: 50px;
 }
 header.myHeader div.myIntro p.skills{
     text-align: center;
     color: mediumturquoise;
     font-size: 30px;
     margin: 5px;
 }

 header.myHeader div.myIntro a.projects{
    display: inline-block;
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    margin: 10px;
 }
 header.myHeader nav.myNav ul.navbar li.left a:hover{
     color: lightseagreen;
 }
 header.myHeader nav.myNav ul.navbar li.right a:hover{
     color: lightseagreen;
     background-color: rgba(0,0,0,0.5);
 }
 header.myHeader div.myIntro a.projects:hover{
     color: lightseagreen;
     background: rgba(0,0,0,0.5);
 }
        /***    ABOUT   ***/
section.about h2.aboutHeading{
    margin: 30px;
    text-align: center;
    font-size: 32px;
}

section.about div.container div.content,section.about div.container div.img{
    width: 50%;
    float:left;
    font-size: 30px;
    height: 100%;
    
}
section.about div.container::after{
    content: "";
    display: block;
    clear: both;
}
section.about div.container{
    height: 75vh;
}

section.about div.container div.content{
    padding:25px;
} 

section.about div.container div.content p.aboutPara{
    font-size:25px;
}

section.about div.container div.content a.portfolio{
    display: inline-block;
    color: black;
    background-color: lightskyblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    margin-left: 200px;
    font-size: 20px;
}

    /*another section--*/
section.anothersection div.academics{
    width: 25%;
    float: left;
    text-align:left;
    padding:15px;
    }
section.anothersection::after{
    content: "";
    display: block;
    clear: both;
}
section.about-container{
    width: 25%;
    float: left;
    text-align:"";
    padding:10px;
    border-bottom: "";
    }


